.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  min-height: 80%;
  min-height: 80vh;
}

.home {
  margin-bottom: 50px;
  margin-top: 20px;
}

.home-subtitle {
  font-size: large;
  margin-top: 30px;
}
